
section {
  display: flex;
  height: 300px;
  margin: 0%;
  justify-content: space-around;
  flex-wrap: wrap;
}
figure {
  text-align: center;
  width: 250px;
  border: 2px solid gray;
}
.outofwork {
  color: red;
}
