<doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles.css">
  <meta charset="utf8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Robots looking for work</title>
    </head>
  <body>
    <section>
    {{#users}}

      {{#job}}

      <figure>
        <img src="{{avatar}}"</img>
        <h3>{{name}}</h3>
        <p>{{job}}{{company}}<p>
      </figure>

      {{/job}}

      {{^job}}

      <figure>
        <img src="{{avatar}}"</img>
        <h3>{{name}}</h3>
        <p class="outofwork">Looking for Work</p>
      </figure>

      {{/job}}
    {{/users}}
  </section>

  </body>
</html>
